PORT=3000
NODE_ENV=development

# Neon Postgres (Serverless)
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/db?sslmode=require"
DATABASE_URL_DIRECT="postgresql://user:password@ep-xxx.region.aws.neon.tech/db?sslmode=require"
DATABASE_URL_REPLICA="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/db?sslmode=require"

# Auth
JWT_SECRET="changeme_super_secret_key_for_jwt_min_10_chars"
JWT_REFRESH_SECRET="changeme_super_secret_key_for_refresh_min_10_chars"

# Infra
REDIS_URL="redis://localhost:6379"

CORS_ORIGINS="*"
